/* COLORS */
@font-face {
  font-family: Open Sans;
  src: url(../assets/typo/Open_Sans/OpenSans-Regular.woff); }
@font-face {
  font-family: 'Press Start 2P';
  src: url(../assets/typo/Press_Start_2P/pressstart-webfont.woff); }
* {
  box-sizing: border-box;
  margin: 0px; }
  * html,
  * body {
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke; }
    * html .animate,
    * body .animate {
      z-index: 999;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    * html .navbar-fixed-left,
    * body .navbar-fixed-left {
      position: fixed;
      top: 0px;
      left: 0px;
      border-radius: 0px; }
    * html .navbar-minimal,
    * body .navbar-minimal {
      width: 60px;
      min-height: 60px;
      max-height: 100%;
      border-width: 0px;
      z-index: 1000; }
    * html .navbar-minimal > .navbar-toggler,
    * body .navbar-minimal > .navbar-toggler {
      position: relative;
      min-height: 60px;
      z-index: 100;
      cursor: pointer; }
    * html .navbar-minimal.open > .navbar-toggler,
    * html .navbar-minimal > .navbar-toggler:hover,
    * body .navbar-minimal.open > .navbar-toggler,
    * body .navbar-minimal > .navbar-toggler:hover {
      background-color: #ff9520; }
    * html .navbar-minimal > .navbar-toggler > span,
    * body .navbar-minimal > .navbar-toggler > span {
      position: absolute;
      top: 50%;
      right: 50%;
      margin: -8px -8px 0 0;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-transition: -webkit-transform .3s ease-out 0s;
      -moz-transition: -moz-transform .3s ease-out 0s;
      -o-transition: -moz-transform .3s ease-out 0s;
      -ms-transition: -ms-transform .3s ease-out 0s;
      transition: transform .3s ease-out 0s;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    * html .navbar-minimal > .navbar-menu,
    * body .navbar-minimal > .navbar-menu {
      position: absolute;
      top: -1000px;
      left: 0px;
      margin: 0px;
      padding: 0px;
      list-style: none;
      z-index: 50; }
    * html .navbar-minimal > .navbar-menu > li,
    * body .navbar-minimal > .navbar-menu > li {
      margin: 0px;
      padding: 0px;
      border-width: 0px;
      height: 54px; }
    * html .navbar-minimal > .navbar-menu > li > a,
    * body .navbar-minimal > .navbar-menu > li > a {
      position: relative;
      display: inline-block;
      color: white;
      font-size: 0.8em;
      padding: 20px 23px;
      text-align: left;
      cursor: pointer;
      border-bottom: 1px solid #515151;
      width: 100%;
      text-decoration: none;
      margin: 0px; }
    * html .navbar-minimal > .navbar-menu > li > a:last-child,
    * body .navbar-minimal > .navbar-menu > li > a:last-child {
      border-bottom-width: 0px; }
    * html .navbar-minimal > .navbar-menu > li > a:hover,
    * body .navbar-minimal > .navbar-menu > li > a:hover {
      background-color: #ff9520; }
    * html .navbar-minimal > .navbar-menu > li > a > .glyphicon,
    * body .navbar-minimal > .navbar-menu > li > a > .glyphicon {
      float: right; }
    * html .navbar-minimal.open,
    * body .navbar-minimal.open {
      width: 320px; }
    * html .navbar-minimal.open > .navbar-toggler > span,
    * body .navbar-minimal.open > .navbar-toggler > span {
      background-position: 0 -16px;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
    * html .navbar-minimal.open > .navbar-menu,
    * body .navbar-minimal.open > .navbar-menu {
      top: 60px;
      width: 100%;
      min-height: 100%; }
    @media (min-width: 768px) {
      * html .navbar-minimal.open,
      * body .navbar-minimal.open {
        width: 60px; }
      * html .navbar-minimal.open > .navbar-menu,
      * body .navbar-minimal.open > .navbar-menu {
        overflow: visible; }
      * html .navbar-minimal > .navbar-menu > li > a > .desc,
      * body .navbar-minimal > .navbar-menu > li > a > .desc {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 130px;
        margin-top: -20px;
        margin-left: 20px;
        text-align: left;
        white-space: nowrap;
        padding: 10px 13px;
        border-width: 0px !important;
        background-color: #333333;
        background-color: rgba(51, 51, 51, 0.8);
        opacity: 0; }
      * html .navbar-minimal > .navbar-menu > li > a > .desc:after,
      * body .navbar-minimal > .navbar-menu > li > a > .desc:after {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: -10px;
        margin-top: -10px;
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #333333;
        border-right-color: rgba(51, 51, 51, 0.8); }
      * html .navbar-minimal > .navbar-menu > li > a:hover > .desc,
      * body .navbar-minimal > .navbar-menu > li > a:hover > .desc {
        left: 60px;
        opacity: 1; } }
    * html #pagepiling .section,
    * body #pagepiling .section {
      background-color: black;
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      top: 0px; }
      * html #pagepiling .section section,
      * body #pagepiling .section section {
        width: 95%;
        height: 92vh;
        margin: 0 0 0 2.5%;
        padding: 5%; }
        * html #pagepiling .section section div,
        * body #pagepiling .section section div {
          width: 100%;
          height: 100%; }
          * html #pagepiling .section section div article h3,
          * body #pagepiling .section section div article h3 {
            font-weight: bold;
            font-size: 0.9em;
            margin-bottom: 0.5vh;
            width: 100%;
            text-transform: uppercase;
            margin: 0px 10px 15px 0px; }
            * html #pagepiling .section section div article h3 img,
            * body #pagepiling .section section div article h3 img {
              vertical-align: baseline;
              width: 1.5vw; }
          * html #pagepiling .section section div article #orange,
          * body #pagepiling .section section div article #orange {
            background-color: #ff9520; }
          * html #pagepiling .section section div article #pink,
          * body #pagepiling .section section div article #pink {
            background-color: deeppink; }
          * html #pagepiling .section section div article #blue,
          * body #pagepiling .section section div article #blue {
            background-color: #00458B; }
          * html #pagepiling .section section div article #green,
          * body #pagepiling .section section div article #green {
            background-color: seagreen; }
          * html #pagepiling .section section div article #red,
          * body #pagepiling .section section div article #red {
            background-color: firebrick; }
          * html #pagepiling .section section div article div,
          * body #pagepiling .section section div article div {
            width: 90%;
            height: 2px;
            margin-bottom: 2vh; }
          * html #pagepiling .section section div article p,
          * body #pagepiling .section section div article p {
            text-align: left;
            width: 90%;
            font-size: 0.8vw;
            margin-bottom: 3vh;
            font-family: "Open Sans"; }
            * html #pagepiling .section section div article p a,
            * body #pagepiling .section section div article p a {
              text-decoration: none;
              color: #ff9520;
              font-weight: bold; }
    * html #pagepiling #section1,
    * body #pagepiling #section1 {
      background-image: url(../assets/imgs/overwatch-1610865_1920.jpg);
      text-transform: uppercase;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      * html #pagepiling #section1 .logotype-header,
      * body #pagepiling #section1 .logotype-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin: 0 auto;
        background: whitesmoke; }
        * html #pagepiling #section1 .logotype-header div,
        * body #pagepiling #section1 .logotype-header div {
          width: 99.5%;
          height: 100%;
          background-color: black; }
          * html #pagepiling #section1 .logotype-header div img,
          * body #pagepiling #section1 .logotype-header div img {
            margin: 0px;
            width: 17vw; }
          * html #pagepiling #section1 .logotype-header div img:first-child,
          * body #pagepiling #section1 .logotype-header div img:first-child {
            padding-top: 4vh;
            padding-bottom: 4vh; }
      * html #pagepiling #section1 h1,
      * body #pagepiling #section1 h1 {
        font-size: 7em;
        text-transform: uppercase;
        margin-top: 6vh; }
      * html #pagepiling #section1 h2,
      * body #pagepiling #section1 h2 {
        margin: 0;
        padding: 0;
        font-size: 2em;
        opacity: 0.8; }
      * html #pagepiling #section1 button,
      * body #pagepiling #section1 button {
        padding: 10px;
        margin: 20px;
        background-color: transparent;
        border: 1px solid whitesmoke; }
        * html #pagepiling #section1 button a,
        * body #pagepiling #section1 button a {
          color: whitesmoke;
          text-decoration: none;
          text-transform: uppercase; }
          * html #pagepiling #section1 button a:hover,
          * body #pagepiling #section1 button a:hover {
            color: black; }
        * html #pagepiling #section1 button:hover,
        * body #pagepiling #section1 button:hover {
          background-color: whitesmoke; }
      * html #pagepiling #section1 button:nth-child(4),
      * body #pagepiling #section1 button:nth-child(4) {
        display: none; }
      * html #pagepiling #section1 h3,
      * body #pagepiling #section1 h3 {
        font-family: "Open Sans";
        font-size: 2em;
        padding: 3vh 0 2vh 0;
        position: absolute;
        bottom: 0px;
        background-color: rgba(20, 20, 20, 0.5);
        border-top: 1px solid #555;
        margin-bottom: 0px;
        width: 100%;
        opacity: 0.5; }
    * html #pagepiling #section2,
    * body #pagepiling #section2 {
      background-image: url(../assets/imgs/lol2.jpeg); }
      * html #pagepiling #section2 section div:last-child iframe,
      * body #pagepiling #section2 section div:last-child iframe {
        max-height: 70%; }
    * html #pagepiling #section3,
    * body #pagepiling #section3 {
      background-image: url(../assets/imgs/joystick-2346237_1920.jpg); }
      * html #pagepiling #section3 section div article .img-calendar,
      * body #pagepiling #section3 section div article .img-calendar {
        width: 50%;
        margin-bottom: 2vh; }
      * html #pagepiling #section3 section div article h4,
      * body #pagepiling #section3 section div article h4 {
        vertical-align: baseline;
        font-size: 0.9em;
        color: whitesmoke;
        width: 100%;
        text-align: left; }
        * html #pagepiling #section3 section div article h4 img,
        * body #pagepiling #section3 section div article h4 img {
          margin-right: 15px;
          width: 24px;
          vertical-align: baseline; }
    * html #pagepiling #section4,
    * body #pagepiling #section4 {
      background-image: url(../assets/imgs/mouse-439593_1920.jpg); }
      * html #pagepiling #section4 section div article h1,
      * body #pagepiling #section4 section div article h1 {
        font-size: 1em;
        padding: 30px;
        margin: 5vh;
        border: 2px solid #00458B; }
      * html #pagepiling #section4 section div article form,
      * body #pagepiling #section4 section div article form {
        width: 90%; }
        * html #pagepiling #section4 section div article form label,
        * html #pagepiling #section4 section div article form input,
        * html #pagepiling #section4 section div article form select,
        * html #pagepiling #section4 section div article form textarea,
        * body #pagepiling #section4 section div article form label,
        * body #pagepiling #section4 section div article form input,
        * body #pagepiling #section4 section div article form select,
        * body #pagepiling #section4 section div article form textarea {
          width: 100%;
          margin-bottom: 0;
          margin-top: 15px;
          padding: 5px 5px;
          font-size: 0.8em; }
        * html #pagepiling #section4 section div article form input,
        * html #pagepiling #section4 section div article form select,
        * html #pagepiling #section4 section div article form textarea,
        * body #pagepiling #section4 section div article form input,
        * body #pagepiling #section4 section div article form select,
        * body #pagepiling #section4 section div article form textarea {
          margin-top: 0; }
        * html #pagepiling #section4 section div article form textarea,
        * body #pagepiling #section4 section div article form textarea {
          width: 100%;
          padding: 5px; }
        * html #pagepiling #section4 section div article form input:nth-child(2),
        * body #pagepiling #section4 section div article form input:nth-child(2) {
          border: 1px solid #ff9520;
          background-color: transparent; }
        * html #pagepiling #section4 section div article form input:nth-child(4),
        * body #pagepiling #section4 section div article form input:nth-child(4) {
          border: 1px solid deeppink;
          background-color: transparent; }
        * html #pagepiling #section4 section div article form input:nth-child(6),
        * body #pagepiling #section4 section div article form input:nth-child(6) {
          border: 1px solid #00458B;
          background-color: transparent; }
        * html #pagepiling #section4 section div article form select,
        * body #pagepiling #section4 section div article form select {
          border: 1px solid seagreen;
          background-color: transparent; }
          * html #pagepiling #section4 section div article form select option,
          * body #pagepiling #section4 section div article form select option {
            background-color: black;
            font-size: 1.5em; }
        * html #pagepiling #section4 section div article form textarea,
        * body #pagepiling #section4 section div article form textarea {
          border: 1px solid firebrick;
          background-color: transparent; }
        * html #pagepiling #section4 section div article form button,
        * body #pagepiling #section4 section div article form button {
          font-weight: bold;
          padding: 20px;
          margin-top: 15px;
          margin-bottom: 25px;
          border: 1px solid whitesmoke;
          background-color: transparent; }
          * html #pagepiling #section4 section div article form button:hover,
          * body #pagepiling #section4 section div article form button:hover {
            background-color: #111; }
      * html #pagepiling #section4 section div iframe,
      * body #pagepiling #section4 section div iframe {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        margin-bottom: 20px; }
    * html #pagepiling #section5,
    * body #pagepiling #section5 {
      background-image: url(../assets/imgs/boxer-1984344_1920.jpg); }
      * html #pagepiling #section5 section div article .logo-partenaire,
      * body #pagepiling #section5 section div article .logo-partenaire {
        width: 15%;
        display: inline-block;
        margin: 2%; }
    * html #pagepiling footer,
    * body #pagepiling footer {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #555;
      margin-top: 2vh;
      height: 8vh;
      width: 100%;
      font-family: "Open Sans", sans-serif;
      background-color: rgba(20, 20, 20, 0.5);
      opacity: 0.5; }
      * html #pagepiling footer button,
      * body #pagepiling footer button {
        width: auto;
        margin: 0px 10px;
        background-color: transparent;
        border-right: 1px solid whitesmoke;
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 0.8em;
        border-radius: 0 !important; }
        * html #pagepiling footer button:hover,
        * body #pagepiling footer button:hover {
          background-color: whitesmoke;
          color: black; }
      * html #pagepiling footer div .modal-dialog .modal-header,
      * body #pagepiling footer div .modal-dialog .modal-header {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        * html #pagepiling footer div .modal-dialog .modal-header button,
        * body #pagepiling footer div .modal-dialog .modal-header button {
          font-size: 3em;
          border: 0; }
      * html #pagepiling footer div .modal-dialog .modal-content,
      * body #pagepiling footer div .modal-dialog .modal-content {
        background-color: black; }
        * html #pagepiling footer div .modal-dialog .modal-content button,
        * body #pagepiling footer div .modal-dialog .modal-content button {
          margin: 0px; }
        * html #pagepiling footer div .modal-dialog .modal-content .modal-body,
        * body #pagepiling footer div .modal-dialog .modal-content .modal-body {
          height: 50vh; }
          * html #pagepiling footer div .modal-dialog .modal-content .modal-body h2,
          * body #pagepiling footer div .modal-dialog .modal-content .modal-body h2 {
            font-size: 0.9em; }
          * html #pagepiling footer div .modal-dialog .modal-content .modal-body p,
          * body #pagepiling footer div .modal-dialog .modal-content .modal-body p {
            margin: 0; }
      * html #pagepiling footer p,
      * body #pagepiling footer p {
        margin: 0; }

/*# sourceMappingURL=style.css.map */
