/* COLORS */
* {
  box-sizing: border-box;
  margin: 0px; }

html,
body {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Open Sans";
  color: whitesmoke; }
  html #mostrar-nav,
  body #mostrar-nav {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 999;
    width: 4vw;
    height: 4vh;
    background: url(../assets/imgs/game-controller.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; }
  html nav.mostrar,
  body nav.mostrar {
    left: 0; }
  html nav,
  body nav {
    position: absolute;
    top: 0;
    left: -32em;
    z-index: 998;
    height: 100%;
    padding-top: 1em;
    background: rgba(50, 50, 50, 0.3);
    border-right: 0.5px solid #FF5722;
    transition: all 1s; }
    html nav .menu,
    body nav .menu {
      width: 20em;
      margin: 1em auto;
      margin-top: 30%;
      padding-left: 0;
      font-family: "VT323";
      list-style: none;
      line-height: 40px; }
      html nav .menu li a,
      body nav .menu li a {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        width: 100%;
        padding-left: 1em;
        font-size: 1.5em; }
        html nav .menu li a:hover,
        body nav .menu li a:hover {
          margin-left: 1em;
          --webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
      html nav .menu li:hover,
      body nav .menu li:hover {
        box-shadow: 30em 0 #FF5722 inset; }
  html #pagepiling #section1,
  body #pagepiling #section1 {
    background-image: url(../assets/imgs/overwatch-1610865_1920.jpg);
    text-transform: uppercase;
    text-align: center; }
    html #pagepiling #section1 img,
    body #pagepiling #section1 img {
      width: 30%;
      border-bottom: 1px solid whitesmoke; }
    html #pagepiling #section1 h1,
    body #pagepiling #section1 h1 {
      font-size: 5em;
      font-weight: bold;
      margin: 20px;
      color: #FF5722; }
    html #pagepiling #section1 h2,
    body #pagepiling #section1 h2 {
      font-family: "VT323";
      letter-spacing: 0.2em;
      font-size: 2em;
      margin: 0; }
  html #pagepiling #section2,
  body #pagepiling #section2 {
    background-image: url(../assets/imgs/joystick-2346237_1920.jpg); }
    html #pagepiling #section2 section div article,
    body #pagepiling #section2 section div article {
      height: 50%; }
      html #pagepiling #section2 section div article div,
      body #pagepiling #section2 section div article div {
        background-color: #FF5722; }
    html #pagepiling #section2 section div .orange,
    body #pagepiling #section2 section div .orange {
      background-color: #FF5722;
      background: linear-gradient(45deg, #bf3e17 95%, #ff5722 95%, #ff5722 50%, #ff5722 66%);
      box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5); }
      html #pagepiling #section2 section div .orange div,
      body #pagepiling #section2 section div .orange div {
        background-color: whitesmoke; }
    html #pagepiling #section2 section div:last-child,
    body #pagepiling #section2 section div:last-child {
      background-color: transparent; }
      html #pagepiling #section2 section div:last-child iframe,
      body #pagepiling #section2 section div:last-child iframe {
        max-height: 83%;
        margin: 1vw; }
  html #pagepiling #section4,
  body #pagepiling #section4 {
    background-image: url(../assets/imgs/mouse-439593_1920.jpg); }
    html #pagepiling #section4 section div article,
    body #pagepiling #section4 section div article {
      height: 100%;
      background-color: #FF5722;
      background: linear-gradient(45deg, #bf3e17 95%, #ff5722 95%, #ff5722 50%, #ff5722 66%);
      box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5); }
      html #pagepiling #section4 section div article div,
      body #pagepiling #section4 section div article div {
        background-color: whitesmoke; }
      html #pagepiling #section4 section div article form,
      body #pagepiling #section4 section div article form {
        margin: 1vw;
        width: 90%; }
        html #pagepiling #section4 section div article form label,
        body #pagepiling #section4 section div article form label {
          width: 100%;
          font-size: 1.2em;
          margin: 15px 0 10px 0; }
        html #pagepiling #section4 section div article form input,
        body #pagepiling #section4 section div article form input {
          width: 100%;
          background-color: black;
          border: 1px solid whitesmoke;
          height: 5vh; }
        html #pagepiling #section4 section div article form textarea,
        body #pagepiling #section4 section div article form textarea {
          width: 100%;
          background-color: black;
          border: 1px solid whitesmoke;
          height: 15vh;
          max-width: 100%;
          min-width: 100%;
          max-height: 15vh; }
        html #pagepiling #section4 section div article form button,
        body #pagepiling #section4 section div article form button {
          width: 50%;
          height: 5vh;
          margin: 15px 0 10px 0;
          background-color: whitesmoke;
          color: #FF5722;
          border: none;
          font-size: 1.5em;
          text-align: center;
          font-weight: bold; }
          html #pagepiling #section4 section div article form button:hover,
          body #pagepiling #section4 section div article form button:hover {
            background-color: black;
            color: whitesmoke; }
  html #pagepiling #section5,
  body #pagepiling #section5 {
    background-image: url(../assets/imgs/boxer-1984344_1920.jpg); }
  html #pagepiling .section,
  body #pagepiling .section {
    background-color: black;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    top: 0px; }
    html #pagepiling .section section,
    body #pagepiling .section section {
      width: 90%;
      height: 92vh;
      margin: 4vh auto;
      padding: 0 3%; }
      html #pagepiling .section section div,
      body #pagepiling .section section div {
        width: 100%;
        height: 100%; }
        html #pagepiling .section section div article h3,
        body #pagepiling .section section div article h3 {
          font-weight: bold;
          font-size: 1.1vw;
          margin: 1vw;
          width: 90%;
          text-transform: uppercase; }
          html #pagepiling .section section div article h3 img,
          body #pagepiling .section section div article h3 img {
            width: 1em;
            padding: 0px;
            margin: 0px 10px 4px 10px; }
        html #pagepiling .section section div article div,
        body #pagepiling .section section div article div {
          width: 100%;
          height: 2px;
          margin: 1vh auto; }
        html #pagepiling .section section div article p,
        body #pagepiling .section section div article p {
          text-align: left;
          width: 90%;
          font-size: 0.8vw;
          margin: 1vw; }

/*# sourceMappingURL=style.css.map */
