/* COLORS */
* {
  box-sizing: border-box;
  margin: 0px; }

html,
body {
  width: 100% !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Open Sans";
  color: whitesmoke; }
  html #mostrar-nav,
  body #mostrar-nav {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 999;
    width: 4vw;
    height: 4vh;
    background: url(../assets/imgs/game-controller.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; }
  html nav.mostrar,
  body nav.mostrar {
    left: 0; }
  html nav,
  body nav {
    position: absolute;
    top: 0;
    left: -32em;
    z-index: 998;
    height: 100%;
    padding-top: 1em;
    background: rgba(50, 50, 50, 0.3);
    border-right: 0.5px solid #FF5722;
    transition: all 1s; }
    html nav .menu,
    body nav .menu {
      width: 20em;
      margin: 1em auto;
      margin-top: 30%;
      padding-left: 0;
      font-family: "VT323";
      list-style: none;
      line-height: 40px; }
      html nav .menu li a,
      body nav .menu li a {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        width: 100%;
        padding-left: 1em;
        font-size: 1.5em; }
        html nav .menu li a:hover,
        body nav .menu li a:hover {
          margin-left: 1em;
          --webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
      html nav .menu li:hover,
      body nav .menu li:hover {
        box-shadow: 30em 0 #FF5722 inset; }
  html #pagepiling #section1,
  body #pagepiling #section1 {
    background-image: url(../assets/imgs/overwatch-1610865_1920.jpg);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    html #pagepiling #section1 .logotype-header,
    body #pagepiling #section1 .logotype-header {
      display: block;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin: 0 auto;
      background: linear-gradient(to bottom, #ff5622 0%, #ff1491 25%, #00468b 50%, #2e8b56 75%, firebrick 100%); }
      html #pagepiling #section1 .logotype-header div,
      body #pagepiling #section1 .logotype-header div {
        width: 99%;
        height: 99%;
        background-color: black; }
        html #pagepiling #section1 .logotype-header div img,
        body #pagepiling #section1 .logotype-header div img {
          margin: 0px;
          width: 18vw; }
        html #pagepiling #section1 .logotype-header div img:first-child,
        body #pagepiling #section1 .logotype-header div img:first-child {
          padding-top: 4vh;
          padding-bottom: 4vh;
          opacity: 0.8; }
        html #pagepiling #section1 .logotype-header div img:last-child,
        body #pagepiling #section1 .logotype-header div img:last-child {
          opacity: 0.8; }
    html #pagepiling #section1 h1,
    body #pagepiling #section1 h1 {
      font-size: 10em;
      text-transform: uppercase;
      font-weight: bold;
      padding: 3vh 0 1vh 0; }
    html #pagepiling #section1 h2,
    body #pagepiling #section1 h2 {
      margin: 0;
      padding: 0;
      font-family: 'VT323';
      color: #FF5722; }
    html #pagepiling #section1 ul li img,
    body #pagepiling #section1 ul li img {
      width: 1vw;
      background-color: transparent; }
  html #pagepiling #section2,
  body #pagepiling #section2 {
    background-image: url(../assets/imgs/lol2.jpeg); }
    html #pagepiling #section2 section div:last-child iframe,
    body #pagepiling #section2 section div:last-child iframe {
      max-height: 100%; }
  html #pagepiling #section3,
  body #pagepiling #section3 {
    background-image: url(../assets/imgs/mouse-439593_1920.jpg); }
    html #pagepiling #section3 section div article .img-calendar,
    body #pagepiling #section3 section div article .img-calendar {
      width: 90%;
      margin-bottom: 2vh; }
    html #pagepiling #section3 section div:last-child iframe,
    body #pagepiling #section3 section div:last-child iframe {
      max-height: 100%; }
  html #pagepiling #section4,
  body #pagepiling #section4 {
    background-image: url(../assets/imgs/mouse-439593_1920.jpg); }
    html #pagepiling #section4 section div article #orange,
    body #pagepiling #section4 section div article #orange {
      background-color: #FF5722; }
    html #pagepiling #section4 section div article form,
    body #pagepiling #section4 section div article form {
      width: 90%; }
      html #pagepiling #section4 section div article form label,
      html #pagepiling #section4 section div article form input,
      html #pagepiling #section4 section div article form textarea,
      body #pagepiling #section4 section div article form label,
      body #pagepiling #section4 section div article form input,
      body #pagepiling #section4 section div article form textarea {
        width: 100%;
        margin-bottom: 1vh;
        padding: 5px; }
      html #pagepiling #section4 section div article form input:nth-child(2),
      body #pagepiling #section4 section div article form input:nth-child(2) {
        border: 1px solid #FF5722;
        background-color: transparent; }
      html #pagepiling #section4 section div article form input:nth-child(4),
      body #pagepiling #section4 section div article form input:nth-child(4) {
        border: 1px solid deeppink;
        background-color: transparent; }
      html #pagepiling #section4 section div article form input:nth-child(6),
      body #pagepiling #section4 section div article form input:nth-child(6) {
        border: 1px solid #00458B;
        background-color: transparent; }
      html #pagepiling #section4 section div article form input:nth-child(8),
      body #pagepiling #section4 section div article form input:nth-child(8) {
        border: 1px solid seagreen;
        background-color: transparent; }
      html #pagepiling #section4 section div article form textarea,
      body #pagepiling #section4 section div article form textarea {
        border: 1px solid firebrick;
        background-color: transparent; }
      html #pagepiling #section4 section div article form button,
      body #pagepiling #section4 section div article form button {
        font-weight: bold;
        padding: 10px;
        background-color: #FF5722;
        margin-top: 2vh;
        color: whitesmoke;
        width: 50%;
        border: 0; }
    html #pagepiling #section4 section iframe,
    body #pagepiling #section4 section iframe {
      -webkit-filter: invert(100%);
      filter: invert(100%); }
  html #pagepiling #section5,
  body #pagepiling #section5 {
    background-image: url(../assets/imgs/boxer-1984344_1920.jpg); }
    html #pagepiling #section5 section div article .logo-partenaire,
    body #pagepiling #section5 section div article .logo-partenaire {
      width: 45%;
      display: inline-block;
      margin: 2vh 0px; }
  html #pagepiling .section,
  body #pagepiling .section {
    background-color: black;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    top: 0px; }
    html #pagepiling .section section,
    body #pagepiling .section section {
      width: 95%;
      height: 92vh;
      margin: 0 0 0 2.5%;
      padding: 5%; }
      html #pagepiling .section section div,
      body #pagepiling .section section div {
        width: 100%;
        height: 100%; }
        html #pagepiling .section section div article h3,
        body #pagepiling .section section div article h3 {
          font-weight: bold;
          font-size: 1.1vw;
          margin-bottom: 1vh;
          width: 100%;
          text-transform: uppercase; }
          html #pagepiling .section section div article h3 img,
          body #pagepiling .section section div article h3 img {
            width: 1.5vw;
            padding: 0px;
            margin: 0px 10px 4px 0px; }
        html #pagepiling .section section div article #orange,
        body #pagepiling .section section div article #orange {
          background-color: #FF5722; }
        html #pagepiling .section section div article #pink,
        body #pagepiling .section section div article #pink {
          background-color: deeppink; }
        html #pagepiling .section section div article #blue,
        body #pagepiling .section section div article #blue {
          background-color: #00458B; }
        html #pagepiling .section section div article #green,
        body #pagepiling .section section div article #green {
          background-color: seagreen; }
        html #pagepiling .section section div article #red,
        body #pagepiling .section section div article #red {
          background-color: firebrick; }
        html #pagepiling .section section div article div,
        body #pagepiling .section section div article div {
          width: 90%;
          height: 2px;
          margin-bottom: 2vh; }
        html #pagepiling .section section div article p,
        body #pagepiling .section section div article p {
          text-align: left;
          width: 90%;
          font-size: 0.8vw;
          margin-bottom: 3vh; }
          html #pagepiling .section section div article p a,
          body #pagepiling .section section div article p a {
            text-decoration: none;
            color: #FF5722;
            font-weight: bold; }
            html #pagepiling .section section div article p a:hover,
            body #pagepiling .section section div article p a:hover {
              font-size: 1.1em; }

/*# sourceMappingURL=style.css.map */
