/* COLORS */
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px !important;
  font-family: "Open Sans";
  color: whitesmoke; }
  body #mostrar-nav {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 999;
    width: 4vw;
    height: 4vh;
    background: url(../assets/imgs/game-controller.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; }
  body nav.mostrar {
    left: 0; }
  body nav {
    position: absolute;
    top: 0;
    left: -18em;
    z-index: 998;
    height: 100%;
    padding-top: 1em;
    background: rgba(50, 50, 50, 0.3);
    border-right: 0.5px solid #FF5722;
    transition: all 1s; }
    body nav .menu {
      width: 15em;
      margin: 1em auto;
      margin-top: 30%;
      padding-left: 0;
      font-family: "VT323";
      list-style: none;
      line-height: 40px; }
      body nav .menu li a {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        width: 100%;
        padding-left: 1em;
        font-size: 1.5em; }
        body nav .menu li a:hover {
          margin-left: 1em;
          --webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
      body nav .menu li:hover {
        box-shadow: 15em 0 #FF5722 inset; }
  body #pagepiling .section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black; }
  body #pagepiling #section1 {
    background-image: url(../assets/imgs/overwatch-1610865_1920.jpg);
    text-transform: uppercase;
    color: white;
    text-align: center; }
    body #pagepiling #section1 img {
      width: 30%;
      border-bottom: 1px solid whitesmoke; }
    body #pagepiling #section1 h1 {
      font-size: 5em;
      margin: 0;
      color: #FF5722; }
    body #pagepiling #section1 h2 {
      font-family: "VT323";
      letter-spacing: 0.2em;
      font-size: 2em;
      margin: 0; }
  body #pagepiling #section2 {
    background-image: url(../assets/imgs/joystick-2346237_1920.jpg);
    background-position: right; }
    body #pagepiling #section2 div article {
      height: 90vh;
      background-color: rgba(17, 17, 17, 0.5);
      color: whitesmoke;
      /*
                          margin: 25px;
      */ }
      body #pagepiling #section2 div article div {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: justify; }
        body #pagepiling #section2 div article div h3 {
          font-weight: bold;
          font-size: 1.4em; }
        body #pagepiling #section2 div article div div {
          padding: 0px;
          width: 100%;
          height: 2px;
          background-color: #FF5722;
          margin: 20px 0px; }
        body #pagepiling #section2 div article div p {
          font-size: 0.9em; }
      body #pagepiling #section2 div article div iframe {
        height: 80%;
        width: 95%; }
  body #pagepiling #section4 {
    background-image: url(../assets/imgs/mouse-439593_1920.jpg); }
  body #pagepiling #section5 {
    background-image: url(../assets/imgs/boxer-1984344_1920.jpg); }

/*# sourceMappingURL=style.css.map */
