/* COLORS */

$white: whitesmoke;
$orange: #FF5722;
$background: rgba(17, 17, 17, 0.5);
* {
    box-sizing: border-box;
    margin: 0px;
}

html,
body {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "Open Sans";
    color: $white;
    #mostrar-nav {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 999;
        width: 4vw;
        height: 4vh;
        background: url(../assets/imgs/game-controller.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    nav.mostrar {
        left: 0;
    }
    nav {
        position: absolute;
        top: 0;
        left: -32em;
        z-index: 998;
        height: 100%;
        padding-top: 1em;
        background: rgba(50, 50, 50, 0.3);
        border-right: 0.5px solid $orange;
        transition: all 1s;
        .menu {
            width: 20em;
            margin: 1em auto;
            margin-top: 30%;
            padding-left: 0;
            font-family: "VT323";
            list-style: none;
            line-height: 40px;
            li {
                a {
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    width: 100%;
                    padding-left: 1em;
                    font-size: 1.5em;
                    &:hover {
                        margin-left: 1em;
                        --webkit-transition: all .5s;
                        -o-transition: all .5s;
                        transition: all .5s;
                    }
                }
                &:hover {
                    box-shadow: 30em 0 $orange inset;
                }
            }
        }
    }
    #pagepiling {
        #section1 {
            background-image: url(../assets/imgs/overwatch-1610865_1920.jpg);
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            .logotype-header{
                display: block;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30%;
                margin: 0 auto;
                    background: linear-gradient(to bottom, rgba(255, 86, 34, 1) 0%, rgba(255, 20, 145, 1) 25%, rgba(0, 70, 139, 1) 50%, rgba(46, 139, 86, 1) 75%, rgba(178, 34, 34, 1) 100%);
                div {
                        width: 99%;
                        height: 99%;
                        background-color: black;
                        img {
                            margin: 0px;
                            width: 18vw;
                        }
                        img:first-child {
                            padding-top: 4vh;
                            padding-bottom: 4vh;
                            opacity: 0.8;
                        }
                        img:last-child {
                            opacity: 0.8;
                    }
                }
            }
            h1 {
                font-size: 10em;
                text-transform: uppercase;
                font-weight: bold;
                padding: 3vh 0 1vh 0;
            }
            h2 {
                margin: 0;
                padding: 0;
                font-family: 'VT323';
                color: $orange;
            }
            ul {
                li {
                    img {
                        width: 1vw;
                        background-color: transparent;
                    }
                }
            }
        }
        #section2 {
            background-image: url(../assets/imgs/lol2.jpeg);
            section {
                div {
                    article {
                        #orange {
                            background-color: $orange;
                        }
                        #pink {
                            background-color: deeppink;
                        }
                        #blue {
                            background-color: #00458B;
                        }
                        #green {
                            background-color: seagreen;
                        }
                        #red {
                            background-color: firebrick;
                        }
                    }
                    .orange {
                        div {
                            background-color: $white;
                        }
                        background-color: $orange;
                        background: linear-gradient(45deg, rgba(191, 62, 23, 1) 95%, rgba(255, 87, 34, 1) 95%, rgba(255, 87, 34, 1) 50%, rgba(255, 87, 34, 1) 66%);
                        box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
                    }
                }
                div:last-child {
                    iframe {
                        max-height: 100%;
                    }
                }
            }
        }
        #section4 {
            background-image: url(../assets/imgs/mouse-439593_1920.jpg);
            section {
                div {
                    article {
                        height: 100%;
                        background-color: $orange;
                        background: linear-gradient(45deg, rgba(191, 62, 23, 1) 95%, rgba(255, 87, 34, 1) 95%, rgba(255, 87, 34, 1) 50%, rgba(255, 87, 34, 1) 66%);
                        box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
                        div {
                            background-color: $white;
                        }
                        form {
                            margin: 1vw;
                            width: 90%;
                            label {
                                width: 100%;
                                font-size: 1.2em;
                                margin: 15px 0 10px 0;
                            }
                            input {
                                width: 100%;
                                background-color: black;
                                border: 1px solid $white;
                                height: 5vh;
                            }
                            textarea {
                                width: 100%;
                                background-color: black;
                                border: 1px solid $white;
                                height: 15vh;
                                max-width: 100%;
                                min-width: 100%;
                                max-height: 15vh;
                            }
                            button {
                                width: 50%;
                                height: 5vh;
                                margin: 15px 0 10px 0;
                                background-color: $white;
                                color: $orange;
                                border: none;
                                font-size: 1.5em;
                                text-align: center;
                                font-weight: bold;
                                &:hover {
                                    background-color: black;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
        #section5 {
            background-image: url(../assets/imgs/boxer-1984344_1920.jpg);
            section {
                div {
                    article {
                        height: 100%;
                        div {
                            /*
                            background-color: $orange;
*/
                        }
                        div:last-child {
                            height: auto;
                        }
                    }
                    .orange {
                        div {
                            background-color: $white;
                        }
                        background-color: $orange;
                        background: linear-gradient(45deg, rgba(191, 62, 23, 1) 95%, rgba(255, 87, 34, 1) 95%, rgba(255, 87, 34, 1) 50%, rgba(255, 87, 34, 1) 66%);
                        box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
        .section {
            background-color: black;
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;
            top: 0px;
            section {
                width: 95%;
                height: 92vh;
                margin: 0 0 0 2.5%;
                padding: 5%;
                div {
                    width: 100%;
                    height: 100%;
                    article {
                        h3 {
                            font-weight: bold;
                            font-size: 1.1vw;
                            margin-bottom: 1vh;
                            width: 100%;
                            text-transform: uppercase;
                            img {
                                width: 1.5vw;
                                padding: 0px;
                                margin: 0px 10px 4px 0px;
                            }
                        }
                        div {
                            width: 90%;
                            height: 2px;
                            margin-bottom: 2vh;
                        }
                        p {
                            text-align: left;
                            width: 90%;
                            font-size: 0.8vw;
                            margin-bottom: 3vh;
                            a {
                                text-decoration: none;
                                color: $orange;
                                font-weight: bold;
                                &:hover {
                                    font-size: 1.1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}